<template>
  <div id='app'>
    <router-link to="/">Foo (/)</router-link>
    <router-link to="/bar">Bar (/bar)</router-link>
    <router-link to="/baz/qux">Baz (/baz/:qux)</router-link>
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'app'
  }
</script>
